<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.kosmalski.testservice">

    <application
        android:name="pl.mglosiek.testservice.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ErnestPlayer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pl.mglosiek.testservice.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="pl.mglosiek.testservice.ExampleService" />
    </application>

</manifest>